name: Build with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'openjdk'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.0.0
      - name: Build with Gradle Wrapper
        run: ./gradlew build
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'openjdk'
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4.0.0
